<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_legacy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_legacy"
        android:supportsRtl="true"
        android:theme="@style/Theme.SparePartsInventory"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".ItemBarcodeScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".InventoryActivity" />
        <activity
            android:name=".PlateScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".DeductActivity" />
        <activity
            android:name=".DeductActivity"
            android:exported="false"
            android:parentActivityName=".InventoryActivity" />
        <activity
            android:name=".InventoryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
